{% extends "base.html.twig" %}
{% block content %}
        <main role="main" class="container">
            <h1>Add New Product</h1>
            <form method="POST" action="{{ path('product.persist')}}">
                <div class="form-group">
                    <label for="usr">Name:</label>
                    <input type="text" class="form-control" name="name" placeholder="Product Name">
                </div>
                <div class="form-group">
                    <label>Price:</label>
                    <input type="text" class="form-control" name="price" placeholder="Product Price $">
                </div>
                <div class="form-group">
                    <label>Quantity:</label>
                    <input type="text" class="form-control"  name="quantity" placeholder="Product Quantity">
                </div>
                <div class="form-group">
                    <label for="comment">Description:</label>
                    <textarea class="form-control" rows="3" id="comment" name="description" placeholder="Product Description"></textarea>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="price">Image </label>
                    <input type="url" class="form-control" id="image" name="image"  placeholder="Product Image">

                </div>
                <hr>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </main>
{% endblock %}